body{
    font-family: 'Montserrat', sans-serif;
    position:relative;

}
.mod{
  top: 14%;
  left: 2%;
  z-index: 4;
  display:contents;
}
h2
{
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  padding: 0.4em 0;
  font-size: 3em;
}
